@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="navbar px-4 auth">
        <MainNavbar />
       
    </div>

    <div class="content px-4">
        @Body
        
        <footer class="fixed-bottom">
            <MainFooter />
        </footer>
    </div>
    
</div>


