
<div class="float-right text-dark mt-2 mr-5">
    <address>
        <p>
        <a class="text-dark" href="https://github.com/Litorasul/MapChallenge" ><i class="fab fa-github"></i></a>
        <a class="text-dark" href="https://www.linkedin.com/in/nikolaykelov/" ><i class="fab fa-linkedin"></i></a>
            &copy; Nikolay Kelov - 2020.
            </p>
    </address>
</div>

<div class="float-left text-light mt-2 ml-5">
    <a class="text-dark" href="#">Privacy</a>
</div>
