@using MapChallenge.Client.Game
@inject IGameStartInfo GameStartInfo
@inject NavigationManager NavigationManager

<div class="container">
    <div class="justify-content-center m-5">
        <div class="row">
            <div class="col">
                <button class="btn btn-success"  @onclick="(() => SelectGameType(false))">Give me all you got</button>
            </div>

            <div class="col">
                <button class="btn btn-success" @onclick="(() => SelectGameType(true))">I'll take just 20</button>
            </div>
        </div>
    </div>
</div>

@code {

    private void SelectGameType(bool isShort)
    {
        this.GameStartInfo.IsShortGame = isShort;
        this.NavigationManager.NavigateTo("/gameplay");
    }
}
