@using MapChallenge.Client.Game
@inject IGameStartInfo GameStartInfo

<h3>@GameStartInfo.Continent.ToString()</h3>

@if (this.GameStartInfo.Continent == GameContinentType.NotSelected)
{
    <ContinentsCardDeck />

}
else
{
    <CountrySubjectCardDeck />
}

@code 
{

    protected override void OnInitialized()
    {
        this.GameStartInfo.OnChange += this.StateHasChanged;
    }
}
