
    <div class="card-deck">

        <div class="card text-center">
            <h3 class="text-success m-2"><i class="fas fa-globe-africa"></i></h3>
            <div class="card-body">
                <h3 class="card-title">Africa</h3>
                <p class="card-text"> Choose if you want to guess Countries or Capitals in Africa.</p>
                <a href="#" class="btn btn-success">Select</a>
            </div>
        </div>

        <div class="card text-center">
            <h3 class="text-success m-2"><i class="fas fa-globe-asia"></i></h3>
            <div class="card-body">
                <h3 class="card-title">Asia</h3>
                <p class="card-text"> Choose if you want to guess Countries or Capitals in Asia.</p>
                <a href="#" class="btn btn-success">Select</a>
            </div>
        </div>

        <div class="card text-center">
            <h3 class="text-success m-2"><i class="fas fa-globe-europe"></i></h3>
            <div class="card-body">
                <h3 class="card-title">Europe</h3>
                <p class="card-text"> Choose if you want to guess Countries or Capitals in Europe.</p>
                <a href="#" class="btn btn-success">Select</a>
            </div>
        </div>

        <div class="card text-center">
            <h3 class="text-success m-2"><i class="fas fa-globe-americas"></i></h3>
            <div class="card-body">
                <h3 class="card-title">North America</h3>
                <p class="card-text"> Choose if you want to guess States or State Capitals in North America.</p>
                <a href="#" class="btn btn-success">Select</a>
            </div>
        </div>

        <div class="card text-center">
            <h3 class="text-success m-2"><i class="fas fa-globe-americas"></i></h3>
            <div class="card-body">
                <h3 class="card-title">South America</h3>
                <p class="card-text"> Choose if you want to guess Countries or Capitals in South America.</p>
                <a href="#" class="btn btn-success">Select</a>
            </div>
        </div>

    </div>

@code {

    
}
