@using MapChallenge.Client.Game
@inject IGameStartInfo GameStartInfo
@inject IGameEngine Engine

<div class="card text-center m-1" style="width: 18rem;">
    <div class="card-body">
        @if (this.CurrentElement == null)
        {
            <h3 class="card-title">Loading...</h3>
        }
        else
        {
            <h3 class="card-title">@this.CurrentElement.Question</h3>
        }
    </div>
</div>

@code {

    [Parameter]
    public GameElement CurrentElement { get; set; }

    [Parameter]
    public EventCallback<GameElement> CurrentElementChanged { get; set; }


    //protected override async Task OnInitializedAsync()
    //{


    //    this.Question = "Question";


    //}

}
