@using MapChallenge.Client.Game
@inject IGameStartInfo GameStartInfo
@inject IGameEngine Engine

<div class="card text-center m-1" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">@Question</h3>
    </div>
</div>

@code {
    public string Question;
    private IList<GameElement> allElements;

    protected override async Task OnInitializedAsync()
    {
        var list = await this.Engine.FetchGameDataAsync(this.GameStartInfo.Continent, this.GameStartInfo.Subject, this.GameStartInfo.IsShortGame);
        this.allElements = list;
        this.Question = "Question";
    }

}
