@using MapChallenge.Client.Game
<div class="card" style="width: 18rem;">
    <div>
        <h3 class="card-header">Points: @Points</h3>
        @foreach (var result in LiveResults)
        {
            if (result.State == GameState.Correct)
            {
                <span class="border m-1" style="color: forestgreen"><i class="fas fa-check"></i> @result.Question </span>
            }
            else
            {
                <span class="border m-1" style="color: red"><i class="fas fa-times"></i> @result.Question </span>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public List<GameElement> LiveResults { get; set; }

    [Parameter]
    public EventCallback<List<GameElement>> LiveResultsChanged { get; set; }

    [Parameter]
    public int Points { get; set; }

    [Parameter]
    public EventCallback<int> PointsChanged { get; set; }

}
   
