@page "/gameover"
@using MapChallenge.Client.Game
@inject IGameStartInfo GameStartInfo
@inject NavigationManager NavigationManager

<div class="card m-5">
    <div class="card-header">
        Game Over
    </div>
    <div class="card-body">
        <h5 class="card-title">You have: @GameStartInfo.Points Points</h5>
        <p class="card-text">You played: @GameStartInfo.Continent.ToString().</p>
        <button class="btn btn-primary" @onclick="NavigateToGameSelection">New Game</button>
    </div>
</div>

@code {

    private void NavigateToGameSelection()
    {
        // Clear the GameStartInfo
        this.GameStartInfo.Subject = GameSubjectType.NotSelected;
        this.GameStartInfo.Continent = GameContinentType.NotSelected;
        this.GameStartInfo.Points = 0;

        // Navigate to Home Screen
        this.NavigationManager.NavigateTo("#");

    }
}
