@page "/example"
@inject HttpClient Http

<h1>Example: @random</h1>
<button class="btn btn-primary" @onclick="FetchRandom">Click me</button>

@code
{
    private string random = "Empty";

    private async Task FetchRandom()
    {
        random = await this.Http.GetStringAsync("/api/Example");
    }

}
