@page "/example"
@using MapChallenge.Shared.ViewModels
@using MapChallenge.Client.Infrastructure
@using MapChallenge.Client.Game
@using MapChallenge.Shared
@inject HttpClient Http
@inject IApiClient Client
@inject IGameEngine Engine

<h1>Example Country: @random</h1>
<h1>Example State: @state</h1>
<button class="btn btn-primary" @onclick="FetchRandom">Click me</button>

@code
{
    private string random = "Empty";
    private string state = "Empty";

    private IList<GameElement> countries;
    private IList<GameElement> states;

    private async Task FetchRandom()
    {

        countries = await this.Engine.FetchGameData(GameType.AsianCountries, true);
        random = countries.First().Question;

        states = await this.Engine.FetchGameData(GameType.StateCapitalsInUsaAndCanada, false);
        state = states.First().Question;
    }

}
