@page "/gameplay"
@using Syncfusion.Blazor.Maps
@using Newtonsoft.Json.Linq
<div class="row">
    <div class="col-9">
        <QuestionComponent></QuestionComponent>
        
        <MapComponent OnClickCallback="@GetClickShape"></MapComponent>
    </div>
    <div class="col-3">
        
        <ResultsComponent @bind-LiveResults="Result"/>
    </div>
</div>


@code {
    [Parameter]
    public List<string> Result { get; set; } = new List<string>();

    void GetClickShape(IShapeSelectedEventArgs args)
    {
        JObject obj = args.Data as JObject;

        if (obj.ContainsKey("Name"))
        {
            string name = obj.GetValue("Name").ToString();
            this.Result.Add(name);
        }
    }

}
